.projects {
  width: calc(100vw - 2rem);
  text-align: center;
  animation: topdown 1s 300ms backwards;
}

.projects h2{
  text-align: center;
  font-size: 2.4rem;
}


.logo p, .photo p{
  font-size: 1.8rem;
}

.projects-title{
  margin-top: 2rem;
  margin-left: 2rem;
}

.item {
  padding: 2rem;
  text-align: center;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}