.projects {
  width: calc(100vw - 2rem);
}

.projects h2{
  text-align: center;
  font-size: 2.4rem;
}


.logo p{
  margin: 4rem 0 0;
  margin-left: 2rem;
  font-size: 1.8rem;
}

.item {
  padding: 2rem;
  text-align: center;
}

.item img{
  width: 1rem;
}