.projects {
  height: 70rem;
  width: calc(100vw - 2rem);
}

.projects h2{
  text-align: center;
  font-size: 2.4rem;
}

.logo p{
  margin: 5rem 0 2rem;
  font-size: 1.8rem;
}

.item {
  padding: 2rem;
  text-align: center;
}

.item img{
  width: 1rem;
}