@import url('./header.css');
@import url('./apresentacao.css');
@import url('./about.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./footer.css');
@import url('./diagramacao.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #f1f1f1;
}

main {
  display: grid;
  place-content: center;
  gap: 5rem;
  padding: 3rem 3rem 0;
}

button {
  border: none;
  background-color: none;
}

a {
  text-decoration: none;
  color: black;
}
